.select_input {
  background-color: inherit;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
  width: 100%;
  transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
  font-size: 24px;
  padding-bottom: 8px;
  font-family: "Questrial", sans-serif;
  margin-top: 32px;
}

.select_input::placeholder {
  font-size: 24px;
  color: var(--TEXT_PLACEHOLDER);
}

.select_input:focus {
  outline: none;
  box-shadow: rgb(255, 255, 255) 0px 2px;
}

.select_container {
  position: relative;
}

.select_button_icon {
  position: absolute;
  right: 8px;
  bottom: 12px;
}

.select_dropdown {
  margin-top: 8px;
  list-style: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-height: 0;
  overflow-y: scroll;
  position: absolute;
  top: 72px;
  width: 100%;
  max-width: 640px;
  z-index: 1;
  background-color: #000101;
  height: 0;
  transition: max-height 150ms ease-out 0s;
}

.select_input:focus + .select_dropdown,
.select_dropdown:focus {
  height: auto;
  max-height: 43vh;
}

.select_dropdown li {
  border-radius: 4px;
  background-color: rgb(26, 26, 26);
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 0px 1px inset;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity,
    box-shadow;
  transition-timing-function: ease-out;
  padding: 4px 12px;
  margin-bottom: 4px;
  font-size: 16px;
}

.select_dropdown li:hover {
  background-color: rgb(77, 77, 77);
}

@media (min-width: 600px) {
  .select_input {
    font-size: 30px;
  }

  .select_input::placeholder {
    font-size: 30px;
  }

  .select_dropdown li {
    font-size: 20px;
  }
}
