.text_input {
  background-color: inherit;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px;
  width: 100%;
  transition: background-color 1e8s ease 0s, box-shadow 0.1s ease-out 0s;
  font-size: 24px;
  padding-bottom: 8px;
  font-family: "Questrial", sans-serif;
  margin-top: 32px;
}

.text_input::placeholder {
  font-size: 24px;
  color: var(--TEXT_PLACEHOLDER);
}

.text_input:focus {
  outline: none;
  box-shadow: rgb(255, 255, 255) 0px 2px;
}

@media (min-width: 600px) {
  .text_input {
    font-size: 30px;
  }

  .text_input::placeholder {
    font-size: 30px;
  }
}
