.question-wrapper {
  display: grid;
  grid-template-columns: 10px 16px 1fr;
  position: relative;
  right: 32px;
  animation: slideInd 1s ease forwards;
}

.question-number {
  color: var(--TEXT_PRIMARY);
  font-size: 14px;
  height: 28px;
  display: grid;
  place-items: center;
}

.question-arrow-container {
  flex-shrink: 0;
  height: 28px;
  align-self: stretch;
  display: grid;
  place-items: center;
}

.question-arrow-container > svg {
  width: 12px;
  height: 12px;
}

.question {
  flex-grow: 0;
  color: var(--TEXT_PRIMARY);
  font-size: 20px;
  line-height: 28px;
  margin-left: 6px;
}

.instruction {
  color: var(--TEXT_PRIMARY_LIGHT);
  margin-top: 8px;
  font-size: 16px;
}

@media (min-width: 600px) {
  .question-wrapper {
    grid-template-columns: 10px 24px 1fr;
    right: 40px;
  }

  .question-number {
    font-size: 16px;
    height: 32px;
  }

  .question-arrow-container {
    height: 32px;
  }

  .question-arrow-container > svg {
    width: 20px;
    height: 20px;
  }

  .question {
    color: var(--TEXT_PRIMARY);
    font-size: 24px;
    line-height: 32px;
  }

  .instruction {
    font-size: 20px;
    line-height: 28px;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0);
  }
}
