.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  position: fixed;
  max-width: 120px;
  max-height: 40px;
  top: 17px;
  left: 16px;
  object-fit: contain;
}

.btn-powered-by {
  position: fixed;
  bottom: 8px;
  right: 8px;
  font-family: sans-serif;
  font-size: 12px;
  padding: 8px 12px;
  line-height: 1;
}

.btn-powered-by > span {
  font-weight: 400;
}

@media (min-width: 600px) {
  .brand-logo {
    top: 37px;
    left: 32px;
  }

  .btn-powered-by {
    bottom: 16px;
    right: 16px;
    font-size: 14px !important; /* Using !important here because we want to keep using the .btn class along with this. Using both leads to the utilities.css taking priority over App.css, which in turn overwrites this media query the utilities.css media queries */
  }
}

@media (min-width: 1440px) {
  .btn-powered-by {
    bottom: 24px;
    right: 24px;
  }
}
