@import "./styles/reset.css";

:root {
  font-family: "Questrial", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffffff;
  background-color: #000101;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --BRAND_PRIMARY: rgb(0, 119, 255);
  --BRAND_PRIMARY_HOVER: rgb(38, 139, 255);
  --BRAND_PRIMARY_ACTIVE: rgb(0, 107, 230);

  --TEXT_PRIMARY: rgb(255, 255, 255);
  --TEXT_PRIMARY_LIGHT: rgba(255, 255, 255, 0.7);
  --TEXT_PLACEHOLDER: rgb(77, 77, 77);
  --TEXT_ERROR: rgb(175, 4, 4);

  --BACKGROUND_ERROR: rgb(247, 230, 230);
}
